
<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<a href="/rooms/new">Create new listing</a>
<p><%= @error_message if @error_message %></p>
<%@rooms.each do |room|%>
<figure>
<img src="../../../public/<%=room.pic.split(",")[0][14..-2]%>"width="200"height="200">

<figcaption><a href="/rooms/<%=room.id%>"><h3><%=room.listing_title%></h3></a>
<p><%=room.location%> - $<%=room.cost%> - <%=room.occupancy%></figcaption>
</figure>
<br>
<%end%>
<br>
<br><br>
<%if session[:user_id]%>
<a href="/logout">Log out</a>
<%end%>
