
<img src="../../../public/<%=@room.pic.split(",")[0][14..-2]%>"width="200"height="200">
<br><br>
<iframe
  width="300"
  height="225"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCQ0YkD3d36LwmRXLOV6HlhJc3cWoNvzmM
    &q=<%=@room.location%>" allowfullscreen>
</iframe>
<h1><%=@room.listing_title%></h1>
<h3>Address: <%=@room.location%></h3>
<h3>Cost/month: $<%=@room.cost%></h3>
<h3>Occupancy:<%=@room.occupancy%></h3>
<h3>Contact:<%=@room.contact%></h3>
<%if logged_in?%>
<%if current_user.id == @room.user_id%>
<form method="post"action="/rooms/<%=@room.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit"value="delete">
</form>
<%end%>
<%end%>
<%if logged_in?%>

<%if current_user.id == @room.user_id%>
<a href='/rooms/<%=@room.id%>/edit'>Edit Listing</a>
<%end%>
<%end%>
<br>

<a href="/rooms">Go back to all listings</a>
<br><br>
<%if session[:user_id]%>
<a href="/logout">Log out</a>
<%end%>
